<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Phan4ADO.NET.Properties.Settings.QLBanHangConnectionString"
            connectionString="Data Source=MGV211\SQLEXPRESS;Initial Catalog=I:\LTWINDOWS\PHAN4\PHAN4\QLBANHANG.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>